body, html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif;
 
}

.menu, .w3-bar-item, .w3-tag, .w3-xlarge, .w3-button,.w3-hide-large, w3-hide-medium {
  
  font-family: "Amatic SC", sans-serif !important;
  
}


.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 90%;
}

.w3-display-middle.w3-center .pizza-text,
.w3-container.menu {
  font-family: "Amatic SC", sans-serif !important;
  
}

.menu {
  
  font-family: "Amatic SC", sans-serif !important;
}

.w3-circle {
    border-radius: 40%;
}

/* Parallax styles */
header {

background-attachment: fixed;



height: 80vh;
}

.bgimg {
background-image: url('italian.png'); /* Replace with your image URL */
}

.w3-text-white {
text-shadow: 2px 2px 4px #000000;
}

.pizza-text {
text-shadow: 3px 3px 3px #000000;
}


.w3-center {

font-family: auto;

}
.w3-circle {
display: none;
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .tablink img {
    width: 100%; /* Make sure the images fill the entire width of their container */
  }
}
/* Greyscale Effect for Images */
.tablink img {
  filter: grayscale(30%);
}
body, h1, h2, h3, h4, h5, h6, .menu, .w3-bar-item, .w3-tag, .w3-xlarge, .w3-button, .w3-hide-large, .w3-hide-medium, .w3-container.menu {
  font-family: "Amatic SC", sans-serif !important;
}

.w3-text-white, .pizza-text {
  text-shadow: 2px 2px 4px #000000 !important;
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover !important;
  min-height: 90%;
  background-attachment: fixed !important;
}

.w3-display-middle.w3-center .pizza-text,
.w3-container.menu {
  font-family: "Amatic SC", sans-serif !important;
}

@media only screen and (max-width: 600px) {
  .tablink img {
    width: 100% !important;
  }
}
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
  font-size: x-large !important;
  color: #635757!important;
}

#myMap {
max-height: 70vw !important; /* Maintain aspect ratio */
}
