body, html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif;
 
}

.menu, .w3-bar-item, .w3-tag, .w3-xlarge, .w3-button,.w3-hide-large, w3-hide-medium {
  
  font-family: "Amatic SC", sans-serif !important;
  
}


.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("italian.png");
  min-height: 90%;
}

.w3-display-middle.w3-center .pizza-text,
.w3-container.menu {
  font-family: "Amatic SC", sans-serif !important;
  
}

.menu {
  
  font-family: "Amatic SC", sans-serif !important;
}

.w3-circle {
    border-radius: 40%;
}
