body, html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif;
 
}

.menu, .w3-bar-item, .w3-tag, .w3-xlarge, .w3-button,.w3-hide-large, w3-hide-medium {
  
  font-family: "Amatic SC", sans-serif !important;
  
}


.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("italian.png");
  min-height: 90%;
}

.w3-display-middle.w3-center .pizza-text,
.w3-container.menu {
  font-family: "Amatic SC", sans-serif !important;
  
}

.menu {
  
  font-family: "Amatic SC", sans-serif !important;
}

.w3-circle {
    border-radius: 40%;
}
font-family: "Amatic SC", sans-serif;
margin: 0;
padding: 0;
background-color: #f1f1f1;
}

/* Parallax styles */
header {
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.bgimg {
background-image: url('italian.png'); /* Replace with your image URL */
}

.w3-text-white {
text-shadow: 2px 2px 4px #000000;
}

.pizza-text {
text-shadow: 3px 3px 3px #000000;
}


.w3-center {

font-family: auto;

}

